body {
    background-color: #2a3957;
    font-family: Arial, sans-serif;
    color: white;
    max-width: 1100px;
    margin-right: auto;
}


.forms button,
.forms input,
button,
input {
    background: #000000;
    color: #00f3ff;
    border: 1px solid #066cc6;
    font-size: 0.8rem;
    padding: 2px;
    vertical-align: middle;
}

.avatar {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border: 1px solid aqua;
    border-radius: 50%;
}

.user_blogs {
    border: 1px solid aqua;
    padding: 20px;
}

.user_listing:hover {
    background-color: #00f3ff;
    opacity: .8;
}

.user_listing {
    border: 1px solid rgb(22, 143, 241);
    margin: 5px;
    padding: 5px;
    display: table;
}

nav {
    width: 65px;
    margin: 10px;
    line-height: 35px;
}

table,
th,
td {
    border: 2px solid #4c9fd0;
    position: sticky;
    margin: 10px;
    padding: 10px;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: white;
    text-decoration: underline;
}