<html>
    <head>
    {{ .headerTags }}
    </head>
    <title> {{ .title }} </title>
    <body>
            <table>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    <hr>
                        <h1> {{ .title }} </h1>
                    <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                          <a href="/">./home</a>
                           <br>
                          <a href="/about">./about</a>
                           <br>
                           <a href="/blog">./articles</a> 
                        </nav>
                    </td>
                    <td height=500 width=1000 valign="TOP">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Nunc scelerisque viverra mauris in. Egestas pretium aenean
                        pharetra magna ac placerat vestibulum. Diam in arcu cursus euismod. Viverra aliquet eget sit
                        amet tellus. Vulputate mi sit amet mauris commodo. Sit amet justo donec enim diam vulputate ut.
                        Diam quam nulla porttitor massa id neque aliquam. Dignissim cras tincidunt lobortis feugiat
                        vivamus at augue eget. Dolor sit amet consectetur adipiscing elit pellentesque. Sit amet commodo
                        nulla facilisi nullam vehicula ipsum a arcu. Eget nulla facilisi etiam dignissim diam quis.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
    </body>
</html>
