
<html>
    <head>
    {{ .headerTags }}
    </head>
    <title> {{ .title }} </title>
    <body>
        <main>
            <table>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    <hr>
                        <h1> {{ .title }} </h1>
                    <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                          <a href="/">./home</a>
                           <br>
                          <a href="/about">./about</a>
                           <br>
                           <a href="/blog">./articles</a> 
                        </nav>
                    </td>
                    <td height=500 width=1000 valign="TOP">
                      {{ range .entries }}<p>📜 <a href="/entry/{{ . }}">[{{ .
                            }}]</a></p>{{ end }} 

                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
