
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" type="text/css" href="/static/main.css">
        <title>{{.title}}</title>
</head>
    <body>
        <main>
            <table>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    <hr>
                        <h1> {{ .title }} </h1>
                    <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                          <a href="/">./home</a>
                           <br>
                          <a href="/about">./about</a>
                           <br>
                           <a href="/blog">./articles</a> 
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Nunc scelerisque viverra mauris in. Egestas pretium aenean
                        pharetra magna ac placerat vestibulum. Diam in arcu cursus euismod. Viverra aliquet eget sit
                        amet tellus. Vulputate mi sit amet mauris commodo. Sit amet justo donec enim diam vulputate ut.
                        {{ range .entries }}
                            <p>📜 <a href="/entry/{{ . }}">{{ . }}</a></p>
                        {{ end }}
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
