<html>
    <head>
    {{ .headerTags }}
    </head>
    <title> {{ .title }} </title>
    <body>
            <table>
                </tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                    <hr>
                        <h1> {{ .title }} </h1>
                    <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                          <a href="/">./home</a>
                           <br>
                          <a href="/about">./about</a>
                           <br>
                           <a href="/blog">./articles</a> 
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        {{.entries}}
                        {{ range .modified }}
                        <center>
                        <a style="font-weight: bold;" href="#top">Top</a>
                        </center>
                        <p><span style="color: yellow;">[Last updated: {{ . }}]</span></p>
                        {{ end }}
                    </td>
                </tr>
                </tbody>
            </table>
    </body>
</html>
