<html>
    <head>
    {{ .headerTags }}
    </head>
    <title> {{ .title }} </title>
    <body>
            <table>
                </tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                    <hr>
                        <h1> {{ .title }} </h1>
                    <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                          <a href="/">/home</a>
                           <br>
                           <a href="/blog"><span style="color: #42f7d5;">/blog</span></a>
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        {{.entries}}
                        {{ range .modified }}
                    </td>
                </tr>
                <tr>
                    <td>
                       </td>
                          <td>
                            <center>
                                <br><a style="font-weight: bold;" href="#top">Top</a>
                                <p><span style="color: yellow;">[Last updated: {{ . }}]</span></p>
                        </center>
                       </td>
                </tr>
                        {{ end }}
                </tbody>
            </table>
    </body>
</html>
