<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <meta name="description" content="Powered by the BUBBLE ENGINE.">
</head>
<title> {{ .title }} </title>
<main>

    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                        <hr>
                        <h1 style="text-align: center;"> {{ .title }} </h1>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        <h1 style="color: red; text-align: center;">404</h1>
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        <img class="center" src="/static/images/stills/dead_signal.png">
                        <h1 style="color: red; text-align: center;">404 NOT FOUND</h1>
                        <p style="text-align: center;"><a href="/">../Home</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</main>

</html>