<html>

<head>
    {{ .headerTags }}
</head>
<title> {{ .title }} </title>
<main>

    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                        <hr>
                        <h1> {{ .title }} </h1>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                            <a href="/">../</a>
                            <br>
                            <a href="/blog">/blog</a>
                            <br>
                            <a href="/panel">/panel</a>
                            <br>
                            <a href="/logout" style=" color: aqua; height: 45px; position: absolute; bottom: 0;">/logout</a>
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        <p style="text-align: center;">You are now logged in. Welcome {{ .user }}!</p>
                        <p><a style="color:rgb(2, 255, 2);" href="/panel">Submit article</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</main>

</html>