<html>

<head>
    {{ .headerTags }}
</head>
<title> {{ .title }} </title>
<main>

    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                        <hr>
                        <h1> {{ .title }} </h1>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                            <a href="/">../</a>
                            <br>
                            <a href="/blog">/blog</a>
                            <br>
                            <a href="/panel">/panel</a>
                            <br>
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        <h1 style="text-align: center;">Welcome <span style="color: rgb(0, 255, 0);">{{ .user }}</span>!</h1>
                        <h2 style="text-align: center;">You are now logged in.</h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</main>

</html>