<html>

<head>
    {{ .headerTags }}
</head>
<title> {{ .title }} </title>
<main>

    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                        <hr>
                        <h1> {{ .title }} </h1>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                            <a href="/">../</a>
                            <br>
                            <a href="/blog">/blog</a>
                            <br>
                            <a href="/panel"><span style="color:#42f7d5;">/panel</span></a>
                            <br>
                            <a href="/logout" style="height: 45px; position: absolute; bottom: 0;">/logout</a>
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        <img style="border: 1px solid aqua;" src="/app/tmp_user/banner/lainbot2.png" alt="banner pic"
                            width="920" height="202;">
                        <br>
                        <br>
                        <center>
                            <img src="/app/tmp_user/pfp/nib.png" alt="banner pic" class="avatar">
                            <br>
                            <p>Welcome, {{ .user }}.</p>
                        </center>
                        <p>
                            Submit a new article entry now!
                        </p>
                        <div class="forms">
                            <form action="/submit_article" method="post" enctype="multipart/form-data">
                                <input name="submit_article" type="file" accept="file/md" required>
                                <pre> Filename example: article_entry.md </pre>
                                <ul>
                                    <li style="font-family: monospace;"> Max upload size: # MB.</li>
                                    <li style="font-family: monospace;"> Markdown only. </li>
                                </ul>

                                <button>Submit article</button>
                            </form>
                        </div>
                        <hr>
                        <h2>Account stats:</h2>
                        <p>User: ####</p>
                        <p>Access level: Member</p>
                        <p>Creation date: #### / ## / ##</p>
                        <p>Total entries submitted: ## </p>
                        <form>
                            <label>Change banner (920x202):</label>
                            <input type="file" id="fileInput" name="files[]" accept=".png,  .jpeg,  .bmp,  .gif,  .jpg">
                            <button>Submit</button>
                        </form>
                        <form>
                            <label>Change pfp:</label>
                            <input type="file" id="fileInput" name="files[]" accept=".png,  .jpeg,  .bmp,  .gif,  .jpg">
                            <button>Submit</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</main>

</html>