<html>
    <head>
    {{ .headerTags }}
    </head>
    <title> {{ .title }} </title>
    <main>
        <body>
            <table>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <td width=1000 valign="TOP">
                    <hr>
                            <h1> {{ .title }} </h1>
                    <hr>
                    </td>
                </tr>
                <tr>
                    <td valign="TOP">
                        <nav>
                          <a href="/about">./about</a>
                           <br>
                           <a href="/blog">./articles</a> 
                           <br>
                           <a href="/login" style="height: 45px; position: absolute; bottom: 0;">./login</a>
                        </nav>
                    </td>
                    <td height=500 valign="TOP">
                        <p>
                        Welcome, {{ .name }}. Submit a new article entry now!
                        </p>
                        <div class="forms">
                          <form action="/submit_article" method="post" enctype="multipart/form-data">
                              <input name="submit_article" type="file" accept="file/md"
                                                                       required> 
                              <pre> Filename example: article_entry.md </pre>
                              <ul>
                              <li style="font-family: monospace;"> Max upload size: # MB.</li>
                              <li style="font-family: monospace;"> Markdown only. </li>
                              </ul>

                           <button>Submit article</button>
                       </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </body>
    </main>
</html>
